DeepLearn/Data200x200
DeepLearn/Data200x200_withInfo
DeepLearn/Uniform200x200withInfo
DeepLearn/Uniform200x200withInfo.zip
.gitignore
/DeepLearn/physics/sim_test/output
/DeepLearn/physics/sim_test/output2
/DeepLearn/physics/sim_test/output_modified_press
/DeepLearn/physics/sim_test/output_modified
/DeepLearn/physics/sim_test/output_folder
/DeepLearn/physics/sim_test/output_test
/DeepLearn/physics/sim_test/output_full
/DeepLearn/physics/sim_test/output_quan
/DeepLearn/Data200x200_withInfo_Deterministic
/DeepLearn/Data200x200_withInfo_DeterministicPng
DeepLearn/Data200x200_withInfo_DeterministicPng.zip
/DeepLearn/physics/recent_analysis_prof_unet
/DeepLearn/physics/baseline_full/final
/DeepLearn/physics/official_darcy
